body{
    background-color: bisque;
    margin: 40px auto;
    max-width: 800px;
    
}
h1, h2, p{
    text-align: center;
}

div{
    display: flex;
    justify-content: center;
}
a{
    background-color: rgb(244, 179, 93);
    border: 1px solid black;
    border-radius: 4px;
    box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
    color: black;
    margin: 10px;
    padding: 10px;
    text-decoration: none;
}
img{
    border-radius: 5px;
    box-shadow: 5px 5px 5px rgba(0,0,0,0.3);
    display: block;
    margin: 0 auto;
    max-width: 80%;
}
.email{
    border: none;
    background-color: bisque;
    box-shadow: none;
    padding: 0px;
    margin: 0px;

}
.email:hover{
    text-decoration: underline;
}